*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: black;
  background-image: url(../img/background.jpg);
  background-position: top center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-header {
  background-color: black;
  margin-bottom: 60px;
}

.navigation {

}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.navigation-item {
  display: inline-block;
}

.navigation-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px 20px;
}

.navigation-link:hover,
.navigation-link:active {
  background-color: #242424;
}

.user-block {
  float: right;
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 80px;
}

.features {

}

.features-item {
  float: left;
  max-width: 300px;
  margin-right: 30px;
}

.features-item:last-child {
  float: right;
  margin-right: 0;
}

 .features-title {
  color: #f7f4f1;
  font-size: 23px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  padding-bottom: 35px;
  position: relative;
}

.features-title::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
  transform: rotate(45deg);
}

.features-description {
  color: #f7f4f1;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 80px;
}

.index-content {
  background: url('../img/index-content-bg.jpg');
  margin-bottom: 35px;
}
.index-content-left {
  position: relative;
}
.index-content-left::after {
  content: '';
  display: block;
  width: 8px;
  height: 278px;
  background: url('../img/index-content-shadow.png') no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -139px;
}

.news {
  float: left;
  padding: 55px 80px;
  max-width: 470px;
}

.gallery {
  float: left;
  padding: 55px 80px;
  max-width: 470px;
}

.title {
  color: black;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.news-preview {
  margin-bottom: 25px;
}

.news-preview p {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.news-preview p time {
  text-transform: none;
}

.btn  {
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 33px;
  width: 140px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.gallery-block {
  box-sizing: content-box;
  margin: 0;
  padding: 7px;
  background-color: white;
  margin-bottom: 40px;
  height: 164px;
}

.gallery-btns {
  font-size: 0;
}

.gallery-btns .btn:first-child {
  float: left;
}

.gallery-btns .btn:last-child {
 float: right;
}
